<header id="master-head" class="navbar menu-absolute menu-center menu-light">
    <div class="container-fluid">
        <div id="main-logo" class="logo-container">
            <a class="logo" href="index.html">
                <img src="images/d-code-logo-dark.svg" class="logo-dark img-fluid" alt="Propert-Ease">
                <img src="images/d-code-logo-light.svg" class="logo-light img-fluid" alt="Propert-Ease">
            </a>
        </div>
        <div class="menu-toggle-btn">
            <!--* Mobile menu toggle-->
            <a class="navbar-toggle">
                <div class="burger-lines">
                </div>
            </a>
            <!--* End mobile menu toggle-->
        </div>
        <div id="navigation" class="nav navbar-nav navbar-main">
            <ul id="main-menu" class="menu-primary">
                <li class="menu-item nav-home">
                    <a href="index.html">Home</a>
                </li>

                <li class="menu-item nav-about">
                    <a href="about/index.html">About</a>
                </li>
                <li class="menu-item nav-contact">
                    <a href="contact/index.html">Contact</a>
                </li>
            </ul>
        </div>
        <div class="navbar-right">
            <div class="menu-button">
                <a href="login/index.html">
                    <div class="btn btn-outline-primary btn-light">sign in</div>
                </a>
            </div>
            <div class="search-option style-dark">
                <div class="search-btn">
                    <a href="#"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
