<footer class="site-footer footer-theme-two">
    <div class="container">
        <div class="main-footer style-dark">
            <div class="row">
                <div class="col-lg-4">
                    <div class="widget">
                        <div class="text-widget">
                            <div class="about-info">
                                <div class="image-wrapper">
                                    <img src="images/d-code-logo-light.svg" alt="Propert-Ease" class="img-fluid"/>
                                </div>
                                <p>Propert-Ease digitizes the governance, compliance, and financial management of Indian Residential Welfare Associations and Cooperative Housing Societies.</p>
                            </div>
                            <div class="playstore-widget">
                                <h3>Download the App</h3>
                                <ul>
                                    <li class="google"><a href="#">Google Play</a></li>
                                    <li class="apple"><a href="#">App Store</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--* End Widget -->
                </div><!--* End Col -->
                <div class="col-lg-2">
                    <div class="widget">
                        <div class="widget-title">
                            <h3 class="title">Useful Links</h3>
                        </div>
                        <div class="text-widget">
                            <div class="footer-nav">
                                <ul>
                                    <li><a href="#">Trust & Safety</a></li>
                                    <li><a href="#">Cookie Policy</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Terms of Service</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--* End Widget -->
                </div><!--* End Col -->
                <div class="col-lg-2">
                    <div class="widget">
                        <div class="widget-title">
                            <h3 class="title">Support</h3>
                        </div>
                        <div class="text-widget">
                            <div class="footer-nav">
                                <ul>
                                    <li><a href="#">Documentation</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Press</a></li>
                                    <li><a href="#">Community</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--* End Widget -->
                </div><!--* End Col -->
                <div class="col-lg-4">
                    <div class="widget">
                        <div class="widget-title">
                            <h3 class="title">Stay Updated</h3>
                        </div>
                        <div class="text-widget">
                            <div class="contact-info">
                                <ul>
                                    <li class="email-field">support@propertease.co.in</li>
                                    <li class="phone-field">+91 98765 43210</li>
                                    <li class="address-field">New Delhi, India</li>
                                </ul>
                            </div>
                            <div class="social-media-links">
                                <ul>
                                    <li><a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a target="_blank" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a target="_blank" href="#"><i class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--* End Widget -->
                </div><!--* End Col -->
            </div><!--* End Row -->
        </div>
        <div class="copyright-bar style-dark">
            <div class="copyright-text text-center">
                © Copyright Propert-Ease 2026. Made with <i class="fas fa-heart"></i> by <a href="#" target="_blank"><strong>Propert-Ease Team</strong></a>.
            </div>
        </div>
    </div>
</footer>
<div class="overlay overlay-search">
    <div class="close-search">
        <span class="lines"></span>
    </div>
    <div class="container">
        <form id="footerNewsletterForm" method="POST" action="javascript:void(0);">
            <div class="form-group">
                <input type="search" class="form-control" name="SearchInput" placeholder="Search…">
                <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
</div>
